@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.navbar {
	background-color: #123fc3;
	display: flex;
	flex-basis: 100%;
	height: 10vw;
	align-items: center;
	justify-content: space-around;
	color: #fff;
}

.navbar h1 {
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10%;
}
.navbar ul {
	display: flex;
	justify-content: space-around;
	margin: 0 10%;
}

.navbar a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.navbar li {
	margin-left: 50px;
	list-style-type: none;
}

.main {
	display: flex;
	background-color: #0c0fb2;
	flex-basis: 100%;
	height: 30vw;
	padding: 50px 10%;
}

.main img {
	width: 500px;
	height: 300px;
}

.main .maintext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	color: white;
}

.main .maintext h1 {
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 42px;
}

.cards {
	background-color: aquamarine;
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
	height: 40vw;
}

.card {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	background-color: #0c0fb2;
	flex-basis: 23%;
	border-radius: 10px;
	height: 220px;
	padding: 20px;
	color: #fff;
	box-shadow: 11px 10px 5px 1px rgba(12, 15, 178, 0.75);
	-webkit-box-shadow: 11px 10px 5px 1px rgba(12, 15, 178, 0.75);
	-moz-box-shadow: 11px 10px 5px 1px rgba(12, 15, 178, 0.75);
}
.card h1 {
	font-size: 28px;
}
.card p {
	margin-top: 10px;
}
#ikonica {
	font-size: 32px;
	margin-top: 8px;
}
